.header{
  background-color: rgb(23, 20, 33);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-right: 5%;
  height:70px;
  flex:1;
  flex-wrap: wrap ;
}
.logo{
  display: flex;
  align-items: center;
  color: white;
}
.menu{
  display: flex;
  align-items: center;
}
ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}
a{
  color: white;
  text-decoration: none;
  padding-right: 10px;
}
.hero{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(30, 26, 59);
  height: 250px;
  margin: 0;
}
h1{
  align-items: center;
  justify-content: center;
  max-width: 850px;
  height: 150px;
  margin: 0 auto;
  padding-right: 400px;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: right;
  line-height:1.5;
  letter-spacing:-.2;
  font-size: 30px;
  color: white;
}

strong{
  color: rgb(133, 38, 133);
}
h2{
  color:rgb(34, 0, 146);
}
.proyect{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid rgb(48, 45, 45);
  margin:  30px 10px;
  border-radius: 10px;
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
}
.proyect-details{
  width: 50%;
}
.content{
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  flex: 1;
  align-items: center;
  justify-content: center;
  
}

footer{
  background-color: rgb(23, 20, 33);
  display: flex;
  justify-content: space-between;
}
footer p{
  padding-right: 20px;
  color: white;
}
  .proyect-url a{
    color: blue;
  }
  .proyect-imageContainer{
    width: 70%;
  }
  .proyect-image  {
    width: 100%;
  }

  /* Comenzar desde el MQ más grande*/
@media screen and (max-width:1024px){
  
}
@media screen and (max-width:786px){
  .hero-title{
    font-size:20px ;
  }
}
@media screen and (max-width: 553px){
  
  h1{
    background-image: none;
    background-size: auto;
    background-position: left;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
  }
  .hero{
    height: 120px;
  }
}

@media screen and (max-width: 479px){
 .header{
   display: block;
   height: auto;
  }
  .menu{
    display:block;
  }
  .menu ul{   
   display: inline;
   padding: 0;
  }
  .menu ul li{
    height:  20px;
  }
  .header a{
    display: flex;
    justify-content: center;
  }
  .header .logo{
    text-align: center;
    justify-content:center;
  }

}